.sidebar-menu {
  font-size: 1.1rem;
  cursor: pointer;
}

.icon {
  color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .active-sidebar {
    background-color: var(--theme-color);
    position: fixed;
    height: 100vh;
  }

  .inactive-sidebar {
    display: none;
  }

  .drop-shadow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
  }
}
